<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--<link rel="stylesheet" href="css/style.css">-->
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Le mera</h1>
    </div>
    <div class = 'col-sm-4 col-6'>
        <p>{{heading}}</p>
        <form method = "POST" >{% csrf_token %}
          {{form}}
          <br>
          <button type = "submit" class = "form-control btn-primary" name = "button">Submit</button><br>
        </form>
    </div>
  </div>
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>